<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>6C3C6F7B9F7904EF3CD5CFFC84EBF59C</string>
            <key>code2</key>
            <string>24FBE4834D0CE58B5154694BED0760F8</string>
            <key>code3</key>
            <string>732B671C8AB0BA3BFC0C18DC19882E63</string>
            <key>code4</key>
            <string>2FA748DC1A00E4C1CC1A39D326C2F933</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>107233541</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>243650030996299948</string>
            <key>package_name</key>
            <string>com.example.agconnectClouddbExample</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>890086000300133261</string>
            <key>product_id</key>
            <string>9105385871708605150</string>
            <key>client_id</key>
            <string>328030906545603648</string>
            <key>client_secret</key>
            <string>[!0049CD464374F200D3A5060E60C46B8A1F9632F909F5C45AA94E99A60AF9C3C2CA4ADDAC3BA9B3D8DE50E9571ACC0AA9451AB3C3F6B260D1C2CC3381984C2627AA1AF4735692BED7065E75A77FC82B21E14F78B916F15E8C0B19798FF955B420E3]</string>
            <key>project_id</key>
            <string>9105385871708605150</string>
            <key>app_id</key>
            <string>243650030996299948</string>
            <key>api_key</key>
            <string>CV6r2GSoXlJlm7OLOuhP8FXH0kHdTs4kKZ3XBCYeDbG/MuOGe8ULX4O1sT8cauX+5YrJNGDlj5vhzdLX01QocnimEPqZ</string>
            <key>package_name</key>
            <string>com.example.agconnectClouddbExample</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
    </dict>
</plist>
